<ion-view view-title="Afenbij" hide-nav-bar="true" class="codescreen_rekeningen">
  <ion-header-bar class="bar-stable bar bar-header" style="background-color:#F3F3F3!important;">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <!-- <button ng-click="$ionicGoBack()" class="button button-icon button-clear ion-chevron-left afenbij"></button> -->
        <button class="button button-icon button-clear ion-navicon rekeningen" menu-toggle="left"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="font-weight:400!important;color:#151515!important;">
      Berichten
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-search afenbij"></button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="content">

    </div>



  </ion-content>
</ion-view>
