<ion-view view-title="Afenbij" hide-nav-bar="true" class="codescreen_rekeningen">
  <ion-header-bar class="bar-stable bar bar-header" style="background-color:#F3F3F3!important;">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button ng-click="$ionicGoBack()" class="button button-icon button-clear ion-ios-arrow-back afenbij"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="font-weight:400!important;color:#151515!important;">
      Overschrijven
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-ios-search afenbij"></button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="content_overschrijven">

      <div class="accounts" style="padding:0px;">
        <div class="" style="height:60px;width:100%;">
          <div class="naam">{{account.name}}
            <div class="rekeningnummer">{{account.number}}</div>
          </div>
          <div class="bedrag">
            {{account.amount}},<div class="centen">{{account.cents}}</div>
          </div>
        </div>
      </div>

      <div class="amount">
        € 625,00
      </div>

      <div class="ontvanger">
        Naam ontvanger<br>
        Hr. J.J. Valkenburg
      </div>

      <div class="ontvanger">
        Rekeningnummer (IBAN)<br>
        NL 42 INGB 0123 4567 80
      </div>

      <div class="ontvanger">
        Mededeling<br>
        Huur voor oktober 2016
      </div>

      <div class="ontvanger">
        Inplannen<br>
        8 oktober 2016 - Maandelijks
      </div>

      <div class="ontvanger" style="text-align:center;">
        <button class="button button-positive">
          Inplannen
        </button>
      </div>

    </div>



  </ion-content>
</ion-view>
