<ion-view view-title="Afenbij" hide-nav-bar="true" class="codescreen_rekeningen">
  <ion-header-bar class="bar-stable bar bar-header" style="background-color:#F3F3F3!important;">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button ng-click="$ionicGoBack()" class="button button-icon button-clear ion-ios-arrow-back afenbij"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="font-weight:400!important;color:#151515!important;">
      Overschrijven
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-ios-search afenbij"></button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="content">

      <div class="accounts" ng-repeat="account in data.accounts" ng-click="open($index,1)">
        <div class="" style="height:60px;width:100%;">
          <div class="naam">{{account.name}}
            <div class="rekeningnummer">{{account.number}}</div>
          </div>
          <div class="bedrag">
            {{account.amount}},<div class="centen">{{account.cents}}</div>
          </div>
        </div>
      </div>

    </div>



  </ion-content>
</ion-view>
